.filters{
    min-width: 19rem;
    background-color: white;
    margin: 0rem 1rem;
    margin-bottom: 1rem;
    max-width: 19rem;
  }

  .years{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .launchAndLandFilter{
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
  }
  
  .filtersHeader
  {
    padding: 0.5rem;
  }
  
  .filterHeading
  {
    margin: auto;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
    width: 12.5rem;
  }
  
  .filters button {
    background-color: #9ae39a;
    margin: 5px;
    padding: 0.8rem 2.09rem;
    border-radius: .25rem;
    border: none;
  }
  
  .filters .btnUnselected
  {
    background-color: #9ae39a;
    outline:none;
  
  }

  .filters .btnSelected
  {
    background-color: #0d720d;
    outline:none;
 
  }

  @media only screen and (max-width: 700px) {

  .filters
    {
      margin: auto;
      margin-bottom: 1rem;
      min-width: 17.8rem;
      max-width: 17.5rem;
    }

}

