

.cards {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
/* .card{
  display:flex;
  flex-direction:column;
  width: 18rem;
  padding: 1rem;
  margin-bottom: 15px;
  background-color: white;
  margin-left: 10px;
} */

/* .image{
  margin: auto;
  background-color: #F2F2F2;
}

.flightNameAndFlightNumber {
  display:flex;
  flex-direction:row;
display: flex;
flex-direction: row;
margin: 1rem 0rem;
color: #63659f;
font-weight: 700;
} */

.wholePageLayout
{
  display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
}
/* .filters{
  min-width: 19rem;
  background-color: white;
  margin: 0rem 1rem;
  margin-bottom: 1rem;
  max-width: 19rem;
}



.years{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.launchAndLandFilter{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  margin: auto;
}

.filtersHeader
{
  padding: 0.5rem;
}

.filterHeading
{
  margin: auto;
  text-align: center;
  border-bottom: 3px solid #F2F2F2;
  width: 8.5rem;
}

.filters button {
  background-color: #9ae39a;
  margin: 5px;
  padding: 0.8rem 2.09rem;
  border-radius: .25rem;
  border: none;
}

.filters button::selection
{
  background-color: #9ae39a;

} */

/* .cards p{
  display:inline-block;
  font-weight:bold;
  margin: 0px;
  padding: 0.2rem 0rem;
}

.cards span{
  color:#63659f;
} */

.developer
{
  text-align: center;
  margin: 1rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position:relative;
  top:30vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 700px) {
    .wholePageLayout{ flex-direction: column;margin:auto}
    .cards {flex-direction: column;margin: auto;}
}

