

.cards {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.card{
  display:flex;
  flex-direction:column;
  width: 18rem;
  padding: 1rem;
  margin-bottom: 15px;
  background-color: white;
  margin: 5px;
  margin-left: 10px;
}

.image{
  margin: auto;
  background-color: #F2F2F2;
}

.flightNameAndFlightNumber {
  display:flex;
  flex-direction:row;
display: flex;
flex-direction: row;
margin: 1rem 0rem;
color: #63659f;
font-weight: 700;
}

.wholePageLayout
{
  display: flex;
}
.getYear{
  
}

